a {
  color: #000000;
}

body {
  height: 100%;
  background-color: #E3E2E1;
  font-family: 'Roboto', sans-serif;
}

.imagesdiv {
  max-height: 400px;
  overflow: hidden;
}

/* Όλα τα div μέσα στο imagesdiv */
.imagesdiv > div {
  height: 400px;
  width: 32%;
  background-size: 100% 100%;
  float: left;
}

.logodiv {
  margin-left: 1px;
  margin-right: 1%;
  background-image: url("../resources/logo big.jpg");
}

.march25div {
  margin-right: 1%;
  background-image: url("../resources/march25.jpg");
}

.planetdiv {
  background-image: url("../resources/savetheplanet.jpg");
}

.welcomediv {
  position: relative;
  width: 40%;
  /* Χωρίς δικό του χρώμα παίρνει από τις φωτογραφίες */
  background-color: #E3E2E1;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  font-size: 1.9rem;
}

.whoarewe {
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}

.infodiv {
  font-size: 2rem;
  margin-bottom: 5%;
  text-align: center;
}

.ourshowsheader {
  font-size: 2rem;
  text-align: center;
}

.ourshows {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5%;
}

.findus {
  font-size: 2rem;
  text-align: center;
}

.githublogo {
  margin-left: 1%;
}

.sourceparagraph {
  font-size: 1.5rem;
  margin-top: 5%;
}
